<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<select id="getAllChat" resultType="chat">
		<![CDATA[
			SELECT *
			FROM chat
			ORDER BY chatId DESC
		]]>
	</select>
	
	<insert id="insertChat" parameterType="chat">
		<![CDATA[
			INSERT INTO chat
			VALUES(seq_chatID.nextval, #{chatFromId}, #{chatToId} ,#{chatContent} , sysdate, 0)
		]]>
	</insert>
	
	<select id="getChatListByRecent" parameterType="chat" resultType="chat">
		<![CDATA[
			SELECT * 
			FROM chat 
			WHERE ((chatFromId = #{chatFromId} and chatToId = #{chatToId}) or (chatFromId = #{chatToId} and chatToId = #{chatFromId})) 
			and chatId > (select max(chatId) - #{chatId} from chat where (chatFromId = #{chatFromId} and chatToId = #{chatToId}) or (chatFromId = #{chatToId} and chatToId = #{chatFromId})) order by chatDate
		]]>
	</select>
	
	<select id="getChatListByID" parameterType="chat" resultType="chat">
		<![CDATA[
			SELECT * 
			FROM chat 
			WHERE ((chatFromId = #{chatFromId} and chatToId = #{chatToId}) or (chatFromId = #{chatToId} and chatToId = #{chatFromId})) and chatId > #{chatId} order by chatDate
		]]>
	</select>
	
	<select id="unReadChat" parameterType="chat" resultType="chat">
		<![CDATA[
			select * from chat where chatToId = #{chatToId} and chatRead = 0
		]]>
	</select>
	
	<select id="getBox" parameterType="chat" resultType="chat">
		<![CDATA[
			select DISTINCT chatFromId from chat where chatToId = #{chatToId}
		]]>
	</select>
	
	<update id="readChat" parameterType="chat">
		<![CDATA[
			UPDATE chat SET chatRead = 1 where (chatFromId = #{chatToId} and chatToId = #{chatFromId})
		]]>
	</update>
</mapper>