<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
	<insert id="customerInsert" parameterType="custom">
		<![CDATA[
			INSERT INTO
			CUSTOMER
			VALUES(#{customerId},#{customerPwd},#{customerName},#{customerEmail},#{customerBirth},#{customerPhone})
			]]>
	</insert>
	<select id="customerLogin" parameterType="custom" resultType="custom">
		<![CDATA[
			SELECT *
			FROM CUSTOMER
			WHERE customerId = #{customerId}
		]]>
	</select>
</mapper>