<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="chat" type="siat.bestdesign.chat.domain.ChatVO" />
		<typeAlias alias="user" type="siat.bestdesign.user.domain.UserVO" />
		<typeAlias alias="manager" type="siat.bestdesign.manager.domain.ManagerVO" />
		<typeAlias alias="design" type="siat.bestdesign.designer.domain.DesignerVO" />
		<typeAlias alias="contact" type="siat.bestdesign.contactboard.domain.ContactVO" />
		<typeAlias alias="hash" type="java.util.HashMap" />
		<typeAlias alias="request" type="siat.bestdesign.requestboard.domain.RequestBoardVO"/>
		<typeAlias alias="requestBoardPaging" type="siat.bestdesign.requestboard.domain.RequestBoardPagingVO"/>
		<typeAlias alias="review" type="siat.bestdesign.review.domain.ReviewVO"/>
		<typeAlias alias="sale" type="siat.bestdesign.saleboard.domain.SaleBoardVO"/>
		<typeAlias alias="chart" type="siat.bestdesign.manager.domain.ChartVO"/>
		<typeAlias alias="main" type="siat.bestdesign.main.domain.MainVO"/>
		<typeAlias alias="requestBoardReply" type="siat.bestdesign.requestboard.domain.RequestBoardReplyVO"/>
		<typeAlias alias="requestBoardDeal" type="siat.bestdesign.requestboard.domain.RequestBoardDealVO"/>
	</typeAliases>
</configuration>